*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --font-mono: 'Roboto Mono', monospace;
    --font-roboto: 'Roboto', sans-serif;
    --top-distance:380px;
}
#navbar {
    position: fixed;
    top: 0%;
    padding-left:  10px;
    background-color:rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(8px);
    z-index: 11;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
    transition: top 0.3s;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}
.nav-links li a{
    color: var(--white);

}
.nav-links li a, .resume-button button{
    margin-left: 10px;
    font-family:var(--font-mono) ;
    -webkit-font-smoothing: antialiased;
}
.navlinks-underline::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--green);
    transition: width .3s;
}
.navlinks-underline:hover::after{
    width: 100%;
    transition: width .3s;
}
.logo h4{
    margin: 0;
}
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--light-navy);
}
.sidenav a{
    color: var(--white);
}

.sidenav-trigger .material-icons{
    font-size: 2.3rem;
}
.logo-img{
    width: 65px;
    margin-left: 20px;
}



.fixed-action-btn > .btn-floating > .material-icons {
    transition: transform 0.3s;
}

.fixed-action-btn.active > .btn-floating > .material-icons {
    transform: rotate(135deg);
}
.btn-floating{
    border: none;
    background-color: var(--lightest-navy);
}

.home,.about,.experience{
    height: 85vh
}
@media only screen and (min-width: 380px){
    .homescreen-p{
        margin-top: 11rem;
        font-family: var(--font-mono);
        color: var(--green);
        font-size: 15px;
    }
}
@media only screen and (max-width: 379px){
    .homescreen-p{
        margin-top: 9rem;
        font-family: var(--font-mono);
        color: var(--green);
        font-size: 15px;
    }
}
.homescreen-name{
    font-family: var(--font-roboto);
    color: var(--white);
    font-size: 15px;
    margin: 2.3733333333rem 0 1.424rem 0;
}
.homescreen-helpertext{
    font-family: var(--font-roboto);
    color: var(--slate);
    font-size: 15px;
}
.homescreen-helpertext2 , .aboutscreen-helpertext2{
    font-family: var(--font-roboto);
    color: var(--slate);
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
}
.aboutscreen-helpertext2{
    font-size: 2vh;
}
.homescreen-button .btn{
    margin-top: 2rem;
    font-family: var(--font-mono);
    height: auto;
}
.Aboutscreen-name{
    font-family: var(--font-roboto);
    color: var(--white);

}
hr{
    margin-top: 16px;
    border-top: 0.1px var(--light-navy);
}
.about span{
    color: var(--green);
}
.about .about2 li{
    list-style: circle;
}
.aboutRight{
    width: 300px;
    height: 300px;
    background-image: url(../img/IMG_2465.jpeg);
    background-size:cover;
    border-radius: 4px;
    margin-left: 19px;

}
.about-imagebox{
    width: 300px;
    height: 300px;
    background-color: #64ffdb89;
    transition: opacity 500ms ease 0s;
    border-radius: 4px;
}

.about-imagebox:hover{
    opacity: 0;
    transition: opacity 500ms ease 0s;
}
/* .reveal-ele{
    opacity: 0;
    margin-top: 25px;
} */